# TODO: migrate this to nix
[core]
  pager = delta --paging=never --detect-dark-light always
	hooksPath = ~/.git_books
[alias]
	fzf = !~/.dotfiles/bin/git_fzf.sh
[interactive]
  diffFilter = delta --color-only --paging=never --detect-dark-light always
[delta]
  navigate = false
  line-numbers = true
  syntax-theme = Monokai Extended
  dark = true 
[diff]
  # https://github.com/dandavison/delta/issues/543
  # TODO: this context config is not working on lazygit
  context = 5